.visualHelp,
.modalVisualHelp {
  padding: 10px;
  background-color: rgba(240, 160, 0, 0.1);
}

.modalVisualHelp > div {
  position: relative !important;
  padding: 0 !important;
  width: auto !important;
  height: auto !important;
  background: transparent !important;
  z-index: 1 !important;
}

.error {
  color: var(--trood-red);
  font-size: 14px;
}

